/* Large screen desktop */

@media (min-width: 1365px) and (max-width: 1500px) {
    .product-wrap .coundown-main .single-countdown,
    .product-wrap-2 .coundown-main .single-countdown,
    .product-content-3 .coundown-main .single-countdown {
        width: 45px;
    }
    .header-4 .main-menu.menu-white nav ul li {
        padding: 0 4px 0 0;
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {
    .header-4 .main-menu.menu-white nav ul li {
        padding: 0 4px 0 0;
    }
}

@media (min-width: 1170px) and (max-width: 1299px) {
    .header-4 .main-menu.menu-white nav ul li {
        padding: 0 4px 0 0;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .header-4 .main-menu.menu-white nav ul>li {
        padding: 0 4px 0 0;
    }
    .header-4 .main-menu.menu-white nav ul li>a {
        font-size: 13px;
    }
    .product-wrap .coundown-main .single-countdown,
    .product-wrap-2 .coundown-main .single-countdown,
    .product-content-3 .coundown-main .single-countdown {
        width: 46px;
    }
    .blog-wrap .blog-content-wrap .blog-content {
        margin: -64px 15px 0;
    }
    .blog-wrap .blog-content-wrap .blog-content {
        padding: 14px 10px;
    }
    .support-wrap-2.support-shape {
        padding: 0 15px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .cart-total {
        margin-top: 30px;
    }
    #moda-compare .modal-dialog {
        max-width: 80%;
    }
    .blog-wrap .blog-content-wrap .blog-content {
        padding: 14px 10px;
    }
    .description-review-topbar a {
        font-size: 20px;
        margin: 0 8px;
    }
    .stick .logo.logo-hm5 .sticky-block {
        display: block;
    }
    .product-variant-option .swatch,
    .product-variant-option .selector-wrapper {
        flex: 0 0 100%;
    }
    .support-wrap-2.support-shape {
        padding: 0 15px;
    }
}


/* Small and large mobile :320px. */

@media (max-width: 767px) {
    .cart-total {
        margin-top: 30px;
    }
    .cart-buttons .theme-default-button {
        padding: 8px 20px;
    }
    .search-item-image {
        width: 100%;
    }
    .search-item-content {
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
    }
    #moda-compare .modal-dialog {
        max-width: 90%;
    }
    .blog-wrap .blog-content-wrap .blog-content {
        padding: 14px 8px;
    }
    .shop-top-bar .select-shoing-wrap .shop-select select {
        padding-left: 0;
    }
    .shop-top-bar .select-shoing-wrap p {
        margin: 5px 0 15px;
    }
    .error-content h4 {
        font-size: 30px;
    }
    .product-details-content {
        margin-top: 30px;
    }
    .product-variant-option .swatch {
        float: none;
        padding-right: 0;
        width: 100%;
    }
    .product-details-content .pro-details-quality .pro-details-cart .cart_button {
        padding: 23px 24px;
    }
    .stick .logo.logo-hm5 .sticky-block {
        display: block;
    }
    .product-variant-option .swatch,
    .product-variant-option .selector-wrapper {
        flex: 0 0 100%;
    }
    .support-wrap-2.support-shape {
        padding: 0 10px;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slider-height-1 {
        height: 750px;
    }
    .slider-height-7 {
        height: 850px;
    }
}


/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
    .login-form-container {
        padding: 30px 20px;
    }
    .form-action-button .theme-default-button+.theme-default-button,
    .cart-buttons .theme-default-button+.theme-default-button {
        margin-left: 0;
        margin-top: 20px;
    }
    .form-action-button .theme-default-button,
    .cart-buttons .theme-default-button,
    .guest-form-container .theme-default-button {
        float: left;
        width: 100%;
    }
}